.materials {
 @include flex-column;

 &__tabs {
  @include flex-center;
  width: 100%;
  max-width: 920px;
  margin-bottom: 32px;
 }

 &__tabs__item {
  @include flex-center;
  cursor: pointer;
  height: 48px;
  width: 240px;
  color: $black;
  margin: 12px 8px;
  padding: 4px;
  transition: 0.4s all;
  outline: none;

  &:hover {
   background-color: $gray;
   border-radius: $border-radius;
  }
 }

 &__tabs__item_active {
  @include black-box;
  position: relative;

  &:after {
   @include flex-center;
   content: "";
   position: absolute;
   width: 96%;
   height: 83%;
   border: 0.5px solid white;
   border-radius: $border-radius;
  }

  &:hover {
   background-color: $black;
  }
 }

 &__desc {
  width: 100%;
  max-width: 720px;
 }

 &__desc__item {
  margin-bottom: 16px;
 }

 @media (max-width: 992px) {
  &__tabs {
   flex-wrap: wrap;
  }

  &__tabs__item {
   margin: 4px 8px;
  }
 }
}
